{% extends 'website/base.html' %}

{# LOAD PACKAGES/TAGs #}
{% load static %}

{# Website title #}
{% block title %}{{ block.super }} - Inicio{% endblock %}

{# -------------------------------- WEBPAGE CONTENT -------------------------------- #}
{% block main-content %}
    <!------------------------------------------------------------------------------
    Home Page
    -------------------------------------------------------------------------------->
    <div class="w-screen h-screen relative home-clip-path">

        {# -------- Dev Photo -------- #}
        <div class="absolute inset-0">
            <div class="container h-screen mx-auto flex flex-row-reverse
            justify-center md:justify-start items-end">
                <img class="h-[50%] md:h-5/6 min-w-fit drop-shadow-[-30px_35px_35px_rgba(0,0,0,0.5)]"
                     src="{% static 'images/profile_x1366.png' %}" alt="">
            </div>
        </div>

        {# -------- Content -------- #}
        <div class="absolute inset-0">
            <div class="container h-screen mx-auto flex flex-col">

                {# -------- Logo image -------- #}
                <img class="max-w-fit
                mx-2 mt-10 lg:mt-0
                translate-y-8 md:translate-y-12 lg:translate-y-24 xl:translate-y-32
                max-h-20 md:max-h-36 lg:max-h-44 xl:max-h-52"
                     src="{% static 'images/Logo.svg' %}" alt="">

                {# -------- Glass Card -------- #}
                <div class="font-sans text-gray-800
                m-5 ml-14 p-5 rounded-xl
                md:max-w-sm md:translate-x-8 md:
                lg:max-w-lg lg:translate-x-28 lg:
                xl:max-w-2xl xl:translate-x-36 xl:
                bg-gray-300 bg-opacity-30 backdrop-filter backdrop-blur-lg border border-white-100">
                    <p class="bg-white rounded-xl px-3 py-2
                    font-extrabold md:text-xl lg:text-2xl xl:text-3xl">
                        Hola! aquí
                        <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-700 to-violet-700">
                            @ruveloper
                        </span>
                    </p>
                    <p class="my-3 font-bold text-white {# text-gray-800 #}
                    md:text-lg lg:text-xl xl:text-2xl ">
                        Mi nombre es Ruben Caballero y soy un desarrollador de software Full-Stack. <br>
                        Me enfoco en
                        <span class="typed"
                              data-typed-items="
                              backend con <span class='font-extrabold text-emerald-700'>Python.</span>,
                              frontend con <span class='font-extrabold text-yellow-400'>Javascript.</span>,
                              móvil con <span class='font-extrabold text-blue-600'>Flutter.</span>"></span>
                    </p>
                </div>

            </div>
        </div>

    </div>
{% endblock %}

